<form class="register-form" action="/register" method="post">
  Username<input type="text" class="register-inputs" name="username" placeholder="username">
  Email<input type="text" class="register-inputs" name="email" placeholder="email">
  Password<input type="text" class="register-inputs" name="password" placeholder="password">
  <button>Register</button>
</form>
