<section class="hero is-white columns" id="about">
    <div class="card container column is-6" id="about-card">
      <div class="card-content columns is-centered">
<img id="column is-5" class="about-image" src="/images/gablog1.jpeg" alt="about-photo">
<div class="column is-5">
<h1 class="header-title"><strong>ABOUT</strong></h1>
<p id="about-content">Welcome! Here’s a blog attempting to document my cycle from Vancouver – Calgary and then Toronto – Montreal. Will be accompanied by me old man till Calgary and then the lovely Donna Paznar from Toronto to Montreal. Absolutely terrified of the tan lines.

  The finish line is far away. Stay tuned…</p>
</div>
</div>
</div>
</section>
<%#
<head>
    <title>Login</title>
</head>
<body>
  <section class="hero is-white is-fullheight" id="login-page">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-white">Login</h3>
          <p class="subtitle has-text-white">Please login to proceed</p>
          <div class="box">
            <figure class="avatar">
              <img height="100px" width="100px" src="/images/face.jpg">
            </figure>
            <form class="" action="/login" method="post">
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="text" name="email" placeholder="Email" autofocus="">
                </div>
              </div>
              <div class="field">
                <div class="contr %>
