<section id="about">
<div id="about-page columns">
<h1 class="header-title">ABOUT</h1>
<div class="about columns">
<img id="column is-5" class="about-image" src="/images/gablog1.jpeg" alt="about-photo">
<p class="column is-5">Ello lads. Here’s a blog attempting to document my cycle from Vancouver – Calgary and then Toronto – Montreal. Will be accompanied by me old man till Calgary and then the lovely Donna Paznar from Toronto to Montreal. Absolutely terrified of the tan lines. The finish line is far away. Stay tuned…</p>
</div>
</div>
</section>
