<section class="hero is-white columns" id="about">
    <div class="card container column is-6" id="about-card">
      <div class="card-content columns is-centered">
<img id="column is-5" class="about-image" src="/images/gablog1.jpeg" alt="about-photo">
<div class="column is-5">
<h1 class="header-title"><strong>ABOUT</strong></h1>
<p id="about-content">Welcome! Here’s a blog attempting to document my cycle from Vancouver – Calgary and then Toronto – Montreal. Will be accompanied by me old man till Calgary and then the lovely Donna Paznar from Toronto to Montreal. Absolutely terrified of the tan lines.

  The finish line is far away. Stay tuned…</p>
</div>
</div>
</div>
</section>
