<h1>About</h1>
<img src="public/images/gablog1.jpeg" alt="about-photo">
<p>Ello lads. Here’s a blog attempting to document my cycle from Vancouver – Calgary and then Toronto – Montreal. Will be accompanied by me old man till Calgary and then the lovely Donna Paznar from Toronto to Montreal. Absolutely terrified of the tan lines. The finish line is far away. Stay tuned…

P.S. Couldn’t come up with a better name. Maple syrup is delightful.</p>
