<main class="home">
<h1 class="header-title"><strong>ALL THE GEAR, NO IDEA</strong></h1>
<% if(locals.isLoggedIn) { %>
  <p>Welcome back <%= locals.currentUser.username %></p>
<% } %>
<div class="fadein">
  <img id="fade1" src="/images/day13.jpeg" >
  <img id="fade2" src="/images/day2.jpeg" >
  <img id="fade3" src="/images/fade.jpeg" >
</div>
<div class="fadein2">
  <img id="fade4" src="/images/day13.jpeg" >
  <img id="fade5" src="/images/day2.jpeg" >
  <img id="fade6" src="/images/fade.jpeg" >
</div>
<div class="fadein3">
  <img id="fade7" src="/images/day13.jpeg" >
  <img id="fade8" src="/images/day2.jpeg" >
  <img id="fade9" src="/images/fade.jpeg" >
</div>
</main>
