<h1 class="header-title">CROSS CANADA CYCLE</h1>
<% if(locals.isLoggedIn) { %>
  <p>Welcome back <%= locals.currentUser.password %></p>
<% } else { %>
  <p> lalaalalalalal</p>
<% }%>
<div class="fadein">
  <img id="fade1" src="/images/day13.jpeg" >
  <img id="fade2" src="/images/day2.jpeg" >
  <img id="fade3" src="/images/fade.jpeg" >
</div>
