<h1>MAPLE SYRUP</h1>
<% if(locals.isLoggedIn) { %>
  <p>Welcome back <%= locals.currentUser.password %></p>
<% } else { %>
  <p> lalaalalalalal</p>
<% }%>
<div id="fading-images">
  <img class="bottom" src="images/"
