<main class="home hero is-white">
  <div class="card" id="home-card">
    <div class="home-content">
<h1 class="header-title">ALL THE GEAR, NO IDEA</h1>
<% if(locals.isLoggedIn) { %>
  <p id="welcomeback">Welcome back <%= locals.currentUser.username %>!</p>
<% } %>
<div class="all-fade-ins">
<div class="fadein">
  <img id="fade1" src="/images/day13.jpeg" >
  <img id="fade2" src="/images/day2.jpeg" >
  <img id="fade3" src="/images/fade.jpeg" >
</div>
<div class="fadein2">
  <img id="fade4" src="/images/day13.jpeg" >
  <img id="fade5" src="/images/day2.jpeg" >
  <img id="fade6" src="/images/fade.jpeg" >
</div>
<div class="fadein3">
  <img id="fade7" src="/images/day13.jpeg" >
  <img id="fade8" src="/images/day2.jpeg" >
  <img id="fade9" src="/images/fade.jpeg" >
</div>
</div>
<div id="map">
  <h3 id="route">4,559 miles, 4 wheels and 1 tent...</h3>
  <img width="700px" height="650px" src="/images/maproute.jpg" alt="map">
  </div>
  </div>
  </div>
</main>
