nav {
  font-family: Montserrat;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  background-color: black;
}

main {
margin-top: 60px;
}

.navbuttons {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  color: white;
}

.navbuttons:hover {
  color: black;
}

.header-title {
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.register-form {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-family: Montserrat, sans-serif;
}

footer {
  font-family: Montserrat, sans-serif;
}

.fadein img {
    position:absolute;
    left:150px;
    top:150px;
    align-items: center;
    width: 25%;
    height: auto;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}


#fade1 {
    -webkit-animation-delay: -6s;
}
#fade2 {
    -webkit-animation-delay: -3s;
}

footer {
  background-color: #abc994;
  height: 100px;
  margin-bottom: none;
}

.home {
  height: 1000px;
}

.fadein2 img {
    position:absolute;
    left:520px;
    top:150px;
    align-items: center;
    width: 25%;
    height: auto;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}


#fade6 {
    -webkit-animation-delay: -6s;
}
#fade4 {
    -webkit-animation-delay: -3s;
}

.fadein3 img {
    position:absolute;
    left:890px;
    top:150px;
    align-items: center;
    width: 25%;
    height: auto;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}


#fade8 {
    -webkit-animation-delay: -6s;
}
#fade9 {
    -webkit-animation-delay: -3s;
}

.login {
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-left: 500px;
}

.about-image {
  width: 300px;
  height: 300px;
}

/* .header-title {
  margin-top: 60px;
} */

#login-page {
  background-image: url('/images/panorama.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 1000px;
}

#about-page {
  background-image: url('/images/panorama.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}



.about {
  margin-top: 70px;
  margin-left: 300px;
}
