nav {
  font-family: Montserrat;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.navbuttons {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  color: black;
}
