<form action="/blog/<%= _id %>?_method=PUT" method="post">
  <div class="control">
    <label for="name">Name:</label>
    <input name="name" value="<%= name %>" id="name" placeholder="e.g.Intro">
  </div>

  <div class="control">
    <label for="name">Image</label>
    <input name="image" value="<%= image %>" id="name" placeholder="image">
  </div>

  <div class="control">
    <label for="dayNumber">Day Number</label>
    <input name="dayNumber" value="<%= dayNumber %>" id="dayNumber" placeholder="day number">
  </div>
  <button>Update my blogpost!</button>
</form>
