<form action="/blog" method="post">
  <div class="control">
    <label for="name">Name:</label>
    <input name="name" id="name" placeholder="e.g.Intro">
  </div>

  <div class="control">
    <label for="name">Image</label>
    <input name="image" id="name" placeholder="image">
  </div>

  <div class="control">
    <label for="dayNumber">Day Number</label>
    <input name="dayNumber" id="dayNumber" placeholder="e.g. Day 1">
  </div>
  <button class="button">Create my blog post!</button>
</form>
