<form action="/blog" method="post">
  <div class="control">
    <label for="name">Name:</label>
    <input name="name" id="name" placeholder="e.g.Intro">
  </div>

  <div class="control">
    <label for="name">Image</label>
    <input name="image" id="name" placeholder="image">
  </div>

  <div class="control">
    <label for="dayNumber">Day Number</label>
    <input name="dayNumber" id="dayNumber" placeholder="e.g. Day 1">
  </div>

  <div class="control">
    <label for="image">Upload an image!</label>
    <input name="image" id="image" placeholder="upload an image!">
  </div>

  <div class="control:">
    <label for="blogContent">Post Content</label>
    <textarea name="blogContent" id="blogContent" placeholder="Write your post here!">
</div>
  <button class="button">Create my blog post!</button>

</form>
