<form action="/blog" method="post">
  <div class="control">
    <label for="name">Name:</label>
    <input name="name" id="name" placeholder="e.g.Intro">
  </div>

  <div class="control">
    <label for="name">Day Number:</label>
    <input name="dayNumber" id="name" placeholder="day number">
  </div>

  <div class="control">
    <label for="distance">Distance Cycled:</label>
    <input name="distance" id="dayNumber" placeholder="distance travelled">
  </div>

  <div class="control">
    <label for="image">Upload an image!</label>
    <input name="image" id="image" placeholder="upload an image!">
  </div>

  <div class="control">
    <label for="blogContent">Post Content</label>
    <textarea name="blogContent" id="blogContent" placeholder="Write your post here!"></textarea>
</div>
  <button class="button">Create my blog post!</button>

</form>
